
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xxs:10px;
$fs-xs:12px;
$fs-s:15px;
$fs-m:18px;
$fs-l:24px;
$fs-xl:36px;
$fs-xxl:48px;


$transition: .2s;
$color-divider: rgba(216, 227, 254, 1);


$color-white: #fff;
$color-primary: #495274;
$color-secondary: #6188ff;

//Red 
$color-danger-500: #d43f3f ;
$color-danger-600: #ffd7d7;


// Gray 
$color-primary-50: #fff;
$color-primary-100: #fff;
$color-primary-200: #fff;
$color-primary-300: #fff;
$color-primary-400: #fff;
$color-primary-500: #fff;
$color-primary-600: #fff;
$color-primary-700: #fff;
$color-primary-800: #fff;
$color-primary-900: #fff;

// Blue 
$color-secondary-50: #fff;
$color-secondary-100: #fff;
$color-secondary-200: #fff;
$color-secondary-300: #fff;
$color-secondary-400: #fff;
$color-secondary-500: #fff;
$color-secondary-600: #fff;
$color-secondary-700: #fff;
$color-secondary-800: #fff;
$color-secondary-900: #fff;
