@import "libs/bootstrap-reboot.min.css";
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap'); */
@import "base/mixins";
@import "base/variables";
@import "libs/fonts";




// === Common === 
/* html {
    @media (max-width: $breakpoint-md-max) {
        font-size: 14px;
    }
    @media (max-width: $breakpoint-sm-max) {
        font-size: 10px;
    }
} */
body{
    @include roboto;
    padding-top: $base*20;
    
    color: #8d96bd;
}


.section-outer {
    padding: 0 $base*5;
    border-bottom: 1px solid $color-divider;

}
.section-inner {
    max-width: 900px;
    margin: 0 auto;
    // padding-top: $padding-vertical;
    // padding-bottom: $padding-vertical;

    &--wide {
        max-width: 1200px;
    }
}




.vertical-indent {
    @mixin vertical-indent ($size) {
        padding-top: $size;
        padding-bottom: $size;
    }

    &--s {@include vertical-indent ( $base * 5);}
    &--m {@include vertical-indent ($base * 15);}
    &--l {@include vertical-indent ( $base * 30);}
    @media (max-width: $breakpoint-md-max) {
    &--m {@include vertical-indent ($base * 10);}
    &--l {@include vertical-indent ( $base * 20);}
    }
    @media (max-width: $breakpoint-xs-max) {
    &--m {@include vertical-indent ($base * 5);}
    &--l {@include vertical-indent ( $base * 10);}
    }
}

.input {
    padding: $base*3 $base*4;
    font-size: $fs-xs;
    border: 1px solid transparent;
    background-color: #efeff7;
    border-radius: 2px;
    color: #7a85ad;
    &--size-lg {
        padding: $base*5 $base*6;
        border-radius: $base;
    }

}

.btn {
    @include Quicksand;
    display: inline-block;
    font-weight: $fw-bold;
    font-size: $fs-xs;
    margin:0;
    padding: $base*3 $base*4;
    border: 1px solid transparent;
    border-radius: 2px;
    background: none;
    text-decoration: none;
    transition: $transition;
    white-space: nowrap;
    cursor: pointer;
    &--size-lg {
        padding: $base*5 $base*15;
        border-radius: $base;

        @media (max-width: $breakpoint-md-max) { 
            padding-left: $base*5;
            padding-right: $base*5;
            
        }
    }
        

    &--primary {
        color: #3a79ff;
        background-color: #d2e1ff;
        &:hover {
            color: #3a79ff;
            background-color: darken(#d2e1ff, 5%)
        }

        
    }
    &--danger {
        color: #d43f3f;
        background-color: #ffd7d7;
        &:hover {
            color: #d43f3f;
            background-color: darken(#ffd7d7, 5%)
        }
    }
    &--secondary {
        color: #ffff;
        background-color: #4c85ff;
        &:hover {
            color: #ffff;
            background-color: darken(#4c85ff, 5%)
        }
        &-inverted {
            color: #565f82;
            background-color: #fff;
            &:hover {
            color: #565f82;
            background-color: darken(#fff, 5%)
            }
        }
    }
    &--grayscale{
        color: #7382A3;
        background-color: #E8ECF4;
        &:hover {
            color: #7382A3;
            background-color: darken(#E8ECF4, 5%)
        }
    }
    &--no-bg {
        color: #adb4d2;
        border: 1px solid #d1d1e4; 

        &:hover {
            color: darken(#adb4d2, 10%);
            border: 1px solid darken(#d1d1e4, 10%); 
        } 
        &-inverted {
            color: #c7d3ff;
            border-color: #a0b4ff;
            &:hover {
            color: lighten(#c7d3ff, 10%);
            border-color: lighten(#a0b4ff, 5%)
            }
        }
    }
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    @include Quicksand;
    margin: 0;
    padding: 0;
    
    font-weight: $fw-regular;
    
}



h2 {
    
    @include roboto();
    text-transform: uppercase;
    margin-bottom: $base * 4;
    font-size: $fs-xxs;
    color:#3d4f9f;
} 

.section-subtitle {
    @include Quicksand;
    color: #3d4f9f;
    margin-bottom: $base * 7;
    font-size: $fs-xxl;
}

.ta-c {
    text-align: center;
}

.dots {
    @include list-null();
    display: flex;
    justify-content: center;
    

}
.swiper-pagination-bullet {

    display: flex;
    justify-content: center;
    align-items: center;
    width: $base * 6;
    height: $base * 4;
    background-color: unset;
    cursor: pointer;
    &::before {
        display: block;
        content: '';
        width: $base*2;
        height: $base*2;
        background-color: #7d818a;
        transition: $transition;
        border-radius: 100%;
    }
    &-active::before { 
        background-color: #5283ff;
    }
    & + & {
        margin-left: $base;
    }
}

.btn-group {
    display: inline-flex;
    .btn:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .btn:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

// === / Comon === 


// === blocks == 
@import "blocks/header";
@import "blocks/hero-image";
@import "blocks/customers";
@import "blocks/plan-and-menage";
@import "blocks/features";
@import "blocks/stats";
@import "blocks/blog";
@import "blocks/quotes";
@import "blocks/get-started";
@import "blocks/faq";
@import "blocks/newsletter";
@import "blocks/footer";




// === / blocks ==



// === HEADER ===  
    
// === //HEADER ===  

// === HERO-IMAGE ===

// === //HERO-IMAGE ===
// === CUSTOMERS ===  

// === //CUSTOMERS ===  
// === PLAN-AND-MENAGE ===

// === //PLAN-AND-MENAGE ===
// === FEATURES ===  

// === //FEATURES ===  
// === STATS ===  

// === //STATS ===  
// === BLOG ===  

// === //BLOG ===  
// === QUOTES ===  

// === //QUOTES ===  
// === FAQ ===  

// === //FAQ ===  
// === GET-STARTED ===

// === //GET-STARTED ===
// === NEWSLETTER ===  

// === //NEWSLETTER ===  
// === FOOTER ===   

// === //FOOTER ===   