.section-features {
    background: url('../img/background/clouds.svg') no-repeat 50% 50%;
    .section-subtitle {
        font-weight: $fw-medium;
        font-size: $fs-l;
    }
    .btns {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .featurest-list {
        @include list-null();
        display: flex;
        text-align: center;
        margin: 0 0 $base*25;
        
        /* @media (max-width: $breakpoint-xs-max) { 
            flex-wrap: wrap;
            justify-content: space-between;
            
        } */

        &__item {
            $margin-left: $base * 10;
            $divider-width: $base * 7;
            position: relative;
            flex-basis: 25%;

            & + & {
                margin-left: $margin-left;
                
            
                &:not(:first-child)::before {
                    position: absolute;
                    top: $base*30;
                    
                    left: -34px ;
                    content: '';
                    width: $divider-width;
                    height: 1px;
                    background-color: #dae4fe;
                }
                @media (max-width: $breakpoint-xs-max) { 
                    margin-left: 0;
                    &::before {
                        display: none;
                    }
                    
                }
            }

            
            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto $base*8;
                width: $base *17;
                height: $base *17;
                border-radius: 100%;
                background-color: #f1f5ff;
            }
            &-title {
                @include roboto();
                font-size: $fs-s;
                font-weight: $fw-bold;
                color: #4074f8;
                margin-bottom: $base*7;
            }
            &-text {
                line-height: 2;
                font-size: $fs-xs;
            }
            @media (max-width: $breakpoint-xs-max) {
                flex-basis: 45%;
                margin-bottom: $base*10;
                &-icon {margin-bottom: $base * 4;}
                &-title {
                    margin-bottom: $base * 3;
                }
            }
        }
      @media (max-width: $breakpoint-xs-max) {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: $base*5;
        
    }  
    }
    @media (max-width: $breakpoint-md-max) {
        margin-bottom: $base * 15;
        }
    
    
}

.or-block {
    display: inline-flex;
    align-items: center;
    font-size: $fs-xs;
    font-weight: $fw-medium;
    line-height: $base*12;
    text-transform: uppercase;
    margin: 0 $base*4;
    &::before,
    &::after {
        content: '';
        width: $base*4;
        height: 1px;
        background-color: #dae4fe;
    }
    &::before {
        margin-right: $base*4;}
    &::after {
        margin-left: $base*4;}
}