.section-footer {
    border-bottom: none;
    
    .copyright {
        @include Quicksand();
        font-size: $fs-xs;
        font-weight: $fw-medium;
        color: #aeb8d0;
        margin-left: $base * 24;
        margin-top: $base * 7;

        @media (max-width: $breakpoint-md-max) {
            margin-left: 0;
            text-align: center;
        }

    }
}
