.section-newsletter {
    background-color: $color-white;
    .section-inner {
        display: flex;
        justify-content: space-between;
        @media (max-width: $breakpoint-md-max) {
           flex-direction: column;
        }
    }
    &__left{
        flex-basis: 35%;
        &-title {
            @include Quicksand();
            font-weight: $fw-bold;
            font-size: $fs-m;
            text-transform: none;
            color: #3d4f9f;
            margin-bottom: $base*4;
        }
        &-text {
            font-size: $fs-s;
            line-height: 2;
        }
        @media (max-width: $breakpoint-md-max) {
            margin-bottom: $base*5;
        }
    }
    &__right{
        flex-basis: 55%;
    }
    .form-newsletter {
        display: flex;
        &__input {
            flex-grow: 1;
        }
        &__btn {
            margin-left: $base*3;
        }
    }

}

