.section-plan-and-menage {
    background-color: #f5f8ff;
    overflow: hidden;
    position: relative;
    

    &__content {
        width: 60%;
        .aside-image {
            position: absolute;
            top: 5%;
            left: 50%;
        }
        .section-subtitle {
            font-weight: $fw-regular;
            span {
                font-weight: $fw-medium;
            }
        }
        .text {
            line-height: 2;
            margin-bottom: $base *12;
        }
        .btn-group {
            svg {
                margin-left: $base;
            }
        }
        @media (min-width: $breakpoint-lg-min) {
            width: 50%;
        }
        @media (max-width: $breakpoint-xs-max) {
            width: 70%;
            .aside-image{ 
                left: 40%;
            }
        }
    }
    /* .section-inner {

    } */
}